{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

</head>
<body>
    <h2>Criar conta</h2>
    
    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">Cadastrar</button>
    </form>

    {% if form.non_field_errors %}
        <div style="color:red;">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
